
<% if @authorized %>
<div class='instructions alert centered alert-secondary' role='alert'>
  Specify a new password of 8 or more characters in the fields below, then click on the button.
  <br/>
  Be prepared with your Trusona app to respond to the presented confirmation.
</div>
<% end %>
