<%= render partial: 'flash' %>
<% if @auth_triggered.nil? || @auth_triggered == false %>
  <%= render partial: 'instructions' %>
  <%= render partial: 'form' %>
<% end %>

<% if @auth_triggered == true %>
<div class='modal fade' id='auth-modal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Next Steps...</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Open the Trusona app on your phone and follow the directions.
        <br>&nbsp;</br>
        When completed, update your email programs with the new password.
        <br/>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  $(document).ready(function() {
    $('#auth-modal').modal('show');
  });
</script>
<% end %>